/** -- General -- **/ 
body, html{
    width: 100%;
    height: calc(100%-12pt);
    margin: 0px;
    font-size: 1em;
    background-color: #e3e9f4;
    color: black;
}
main {
    margin: 9% 25% 8% 15%;
    font-family: Roboto, Helvetica, sans-serif;
}

/** -- Header -- **/
#navbar{
    align-content: center;
    font-family: Roboto, Helvetica, sans-serif;
}
#headerImg{
    width: calc(100%-0.2em); /*Adjusted for padding*/
	padding: 0em;
}
#headerLarge{
	display: none; 
	width: 100%; 
	height: auto;
}
#headerSmall{
	display: none;
	height: 20%; width: auto;
	padding: 0.3em;
}
/* .dropdown: top-level menu-items 
	display-property set in menuButton.js to enable dynamic menu */
.dropdown { 
	margin: 0px;
    color: #000000;
    text-align: center;
	padding: 0.9em 0em; /*Must correspond to .dropdownContent{margin-top}*/
    position: relative;
	float: left;
    min-width: calc(100%/5);
	background-color: #30979E;
	cursor: pointer;
}
.dropdown:hover{
	background-color: #29888e;
}
.dropdown:hover .dropdownContent {
	display: block;
}
.dropdownContent a:hover{
	color: #555555;
}
.dropdown a{
	color: #000;
	text-decoration: none;	
}

.dropdownContent {
	align-content: center;
	margin: 0em;
	margin-top: 0.9em;
    padding: 0.5em 0em;
    display: none;
    position: absolute;
    background-color: #35b2ba;
    z-index: 1;
	min-width: 100%; /*100% of parent class .dropdown*/
}
.dropdownContent a{
    color: black;
    padding: 0.7em 0.5em;
    text-decoration: none;
    display: block;
}

/* Button to be shown when screenwidth <= 1200 
	Display also set in menuBtn.js*/
#menuBtn{
	display: block;
	float: none;
	align-content: center;
	overflow: auto;
}
#menuBtn *{
	float: left;
}
#menuBtn img{
	padding: 0.2em 0.8em;
	height: 1.2em;
	width: auto;
}
#menuBtn span{
	padding: 0.2em 0%;
}

/** -- Board -- **/
.imageAndText{
	width: 100%;
	position: relative;
	margin: 1.8em 1em;
	display: block;
	overflow: auto;
}
.imageAndText h3, .imageAndText p{
	margin: 0.1em 0em;
}
.imageAndText h3{
	font-size: 1.2em;
}
.imageAndText .boardName{
	font-weight: bold;
	font-size: 1em;
}

.boardContact{
	font-size: 1em;
}
.boardContact p, .boardContact a{
	display: inline-block;
}

/** -- Tabell -- **/
table{
	width: 100%;
	border-collapse: collapse;
}
th, td{
	text-align: left;
	padding: 1%;
}

tr:nth-child(even){
	background-color: #C9E1EA;
}


/** -- Footer -- **/
footer{
    padding: 3% 10%;
    display: block;
    background-color: #353536;
    color: #eee;
    font-family: Roboto, Helvetica, sans-serif;
    box-shadow: 0px 500px 0px 500px #353535;
}
.footerContent{
	display: block; float: left;
	width: 35%; 
	padding: 0% 0% 0% 10%;
	margin: 0;
	align-content: center;
}

footer ul{
    list-style: none;
    padding: 0 0 5% 0;
    margin: 0;
    margin-right: 0%;
    width: 20%;
    float: left;
}
footer a{
    color: #30979E;
}

/** -- Responsive -- **/
/*Changes navbar to menu-view*/
@media(max-width: 1200px){
    main{
        margin-left: 10%;
        margin-right: 10%; 
    }
    h1{
        margin-left: 10%;
    }
	.dropdownContent{
		margin-top: 0em;
		padding: 0.35em 0em;
	}
    footer{
        padding: 5% 10%;
    }
	
	/*Navbar mobile-friendliness*/
	.dropdown{
		width: 100%;
	}
	#menuBtn{
		width: 100%;
	}
	.dropdown:hover .dropdownContent{
		position: static;
		display: block;
	}
	
	.imageAndText img{
		display: none;
	}
	.imageAndText .textBox{
		width: 100%;
	}
}
@media(min-width: 1201px){
	#headerLarge{
		display: block;
	}
	#headerSmall{
		display: none;
	}
	
	/* styret.html */
	.imageAndText img, .imageAndText .textBox{
	display: block; float: left;
	overflow: auto;
	margin: 0em 2em 0em 0em;
	}
	.imageAndText img{
		width: 8em;
		height: 8em;
		border-radius: 50%;
	}
	.imageAndText .textBox{
		margin-top: 0.2em;
		max-width: calc(100% - 20em);
	}
}

/* Changes fonts according to screen resolution */
@media (max-resolution: 220dpi){
	body{
		font-size: 
	}
}
@media (min-resolution: 280dpi), (max-width: 1200px){
	body{
		font-size: 1.6em;
	}
}
@media (min-resolution: 320dpi), (max-width: 1200px){
	body{
		font-size: 2em;
		background-color: "blue";
	}
}