/* General */ 
body, html{
    width: 100%;
    height: calc(100%-12pt);
    margin: 0px;
    font-size: 12pt;
    background-color: #e3e9f4;
    color: black;
}

main {
    margin: 10% 25% 10% 15%;
    font-family: Roboto, Helvetica, sans-serif;
}


/* Header */
.dropdown { 
	margin: 0px;
    font-size: 1.2em;
    color: #000000;
    text-align: center;
	padding: 0.9em 0em; /*Must correspond to .dropdownContent{margin-top}*/
    position: relative;
    display: block; float: left;
    min-width: 20%;
	background-color: #30979E;
}
.dropdown:hover{
    background-color: #29888e;
}
.dropdown a{
	color: #000;
	text-decoration: none;
	
}

.dropdownContent {
	align-content: center;
	margin: 0em;
	margin-top: 0.9em;
    padding: 0.5em 0em;
    display: none;
    position: absolute;
    background-color: #35b2ba;
    z-index: 1;
	min-width: 100%; /*100% of parent class .dropdown*/
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdownContent a{
    color: black;
    padding: 0.7em 0.5em;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover{
	color: #555555;
}
#navbar{
    align-content: center;
    font-family: Roboto, Helvetica, sans-serif;
    /* padding: 0px 20px; */
    /*width: 100%; /*
    height: 48px;
    background-color: blue; */
}

#headerImg{
    width: calc(100%-0.2em); /*Adjusted for padding*/
    background-image: url(../img/dykk3.jpg);
    background-size: 100%, 100%;
	padding: 3.2em;
}


/* Footer */
footer{
    padding: 3% 15%;
    display: block;
    background-color: #353536;
    color: #eee;
    font-family: Roboto, Helvetica, sans-serif;
    box-shadow: 0px 500px 0px 500px #353535;
}

footer ul{
    list-style: none;
    padding: 0 0 5% 0;
    margin: 0;
    margin-right: 5%;
    width: 15%;
    float: left;
}

footer a{
    color: #30979E;
}


/** Responsive **/
@media(min-width: 1900px){
    body{
        font-size: 1.5em;
    }
}

@media(min-width: 2600px){
    body{
        font-size: 2em;
    }
}

@media(min-width: 4096px){
    body{
        font-size: 3em;
    }
}

@media(max-width: 1200px){
    main, footer{
        font-size: 1.5em;
    }
    main{
        margin-left: 10%;
        margin-right: 10%; 
    }
    h1{
        margin-left: 10%;
    }
    footer{
        padding: 5% 10%;
    }
}