/*General */ 
body{
    margin: 0px;
	background-color: #E8E5FF;
}

main{
	background-color: #E8E5FF;
}

/* Header */
.dropdown { 
	margin: 0px;
    font-size: 1.2em;
    color: #000000;
    text-align: center;
	padding: 0.9em 0em; /*Must correspond to .dropdownContent{margin-top}*/
    position: relative;
    display: block; float: left;
    min-width: 20%;
	background-color: #30979E;
}
.dropdown:hover{
    background-color: #29888e;
}
.dropdown a{
	color: #000;
	text-decoration: none;
	
}

.dropdownContent {
	align-content: center;
	margin: 0em;
	margin-top: 0.9em;
    padding: 0.5em 0em;
    display: none;
    position: absolute;
    background-color: #35b2ba;
    z-index: 1;
	min-width: 100%; /*100% of parent class .dropdown*/
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdownContent a{
    color: black;
    padding: 0.7em 0.5em;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover{
	color: #555555;
}
#navbar{
    align-content: center;
    /* padding: 0px 20px; */
    /*width: 100%; /*
    height: 48px;
    background-color: blue; */
}

#headerImg{
    width: 100%;
    background-color: white;
	padding: 0.2em;
}
